Great one, Abdulrahman! Letâ€™s talk about the **LEFT JOIN** â€” it's super useful when you want to keep **all the rows from the first (left) table**, even if thereâ€™s no match in the second (right) table.

---

## ðŸ“˜ What is a LEFT JOIN?

> A **LEFT JOIN** returns **all records from the left table**, and the **matched records from the right table**. If thereâ€™s no match, youâ€™ll get `NULL` (or `NaN` in pandas) for the right tableâ€™s columns.

---

### ðŸ§  Example:

#### ðŸ§‘ `Employees` (Left Table)
| emp_id | name     |
|--------|----------|
| 1      | Aisha    |
| 2      | Rahman   |
| 3      | Tunde    |

#### ðŸ’¼ `Departments` (Right Table)
| emp_id | department   |
|--------|--------------|
| 1      | HR           |
| 2      | Finance      |



### ðŸ”„ Compared to INNER JOIN:
- `INNER JOIN` â†’ Only matched rows.
- `LEFT JOIN` â†’ All rows from the left, matched or not.

### EXERCISE

In [ ]:
# QUESTION 1
# Merge the movies table with the financials table with a left join
movies_financials = movies.merge(financials, on='id', how='left')

# Count the number of rows in the budget column that are missing
number_of_missing_fin = movies_financials['budget'].isnull().sum()

# Print the number of movies missing financials
print(number_of_missing_fin)

### **OTHER JOIN**
Other join: Join a data from ledt table and match it to the left table for example

In [ ]:
#Import the necessary libraries
import pandas as pd

#Import the movie_to_generes dataset as peackle
movie_to_generes = pd.read_pickle('movie_to_genres.p')

#printthe first 5 rows of thr dataset
print(movie_to_generes.head())

tv_generes = movie_to_generes[movie_to_generes['genre'] == 'TV Movie']
print(tv_generes)


# Filtring the data
m = movie_to_generes['genre'] == 'TV Movie'
tv_generes = movie_to_generes[m]

#print the result
print(tv_generes)

   movie_id            genre
0         5            Crime
1         5           Comedy
2        11  Science Fiction
3        11           Action
4        11        Adventure
       movie_id     genre
4998      10947  TV Movie
5994      13187  TV Movie
7443      22488  TV Movie
10061     78814  TV Movie
10790    153397  TV Movie
10835    158150  TV Movie
11096    205321  TV Movie
11282    231617  TV Movie
       movie_id     genre
4998      10947  TV Movie
5994      13187  TV Movie
7443      22488  TV Movie
10061     78814  TV Movie
10790    153397  TV Movie
10835    158150  TV Movie
11096    205321  TV Movie
11282    231617  TV Movie

In [15]:
#Data to merge
tv_movies = movie_to_generes.merge(tv_generes, how='right',
                                    left_on= 'movie_id', right_on='movie_id')

print(tv_movies.head())

   movie_id   genre_x   genre_y
0     10947    Comedy  TV Movie
1     10947     Drama  TV Movie
2     10947    Family  TV Movie
3     10947  TV Movie  TV Movie
4     10947     Music  TV Movie

### **EXERCISE**

```py
#Question One
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, how='right', on='movie_id')

#Question 2
# Merge action_movies to scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act', '_sci'))

# Print the first few rows of action_scifi to see the structure
print(action_scifi.head())

#QUESTION 3
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]


#QUESTION 4
# Merge action_movies to the scifi_movies with right join
action_scifi = action_movies.merge(scifi_movies, on='movie_id', how='right',
                                   suffixes=('_act','_sci'))

# From action_scifi, select only the rows where the genre_act column is null
scifi_only = action_scifi[action_scifi['genre_act'].isnull()]

# Merge the movies and scifi_only tables with an inner join
movies_and_scifi_only = movies.merge(scifi_only, how='inner',left_on='id', right_on='movie_id' )

# Print the first few rows and shape of movies_and_scifi_only
print(movies_and_scifi_only.head())
print(movies_and_scifi_only.shape)


#QUESTION 5
# Use right join to merge the movie_to_genres and pop_movies tables
genres_movies = movie_to_genres.merge(pop_movies, how='right', 
                                       right_on='id',
                                      left_on='movie_id')

# Count the number of genres
genre_count = genres_movies.groupby('genre').agg({'id':'count'})

# Plot a bar chart of the genre_count
genre_count.plot(kind='bar')
plt.show()


#QUESTION 6
# Merge iron_1_actors to iron_2_actors on id with outer join using suffixes
iron_1_and_2 = iron_1_actors.merge(iron_2_actors,
                                     how='outer',
                                     on='id',
                                     suffixes=('_1','_2'))

# Create an index that returns true if name_1 or name_2 are null
m = ((iron_1_and_2['name_1'].isnull()) | 
     (iron_1_and_2['name_2'].isnull()))

# Print the first few rows of iron_1_and_2
print(iron_1_and_2[m].head())

```

### **MERGING TABLE TO IT SELF**
mergin table to it self is called _self join_

#### **EXCERCISE**
```py
#QUESTION 1
# Merge the crews table to itself
crews_self_merged = crews.merge(crews, how='inner', on='id', suffixes=('_dir', '_crew' ))

#QUESTION 2
# Merge the crews table to itself
crews_self_merged = crews.merge(crews, on='id', how='inner',
                                suffixes=('_dir','_crew'))

# Create a Boolean index to select the appropriate
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') & 
     (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

#QUESTION 3
# Merge the crews table to itself
crews_self_merged = crews.merge(crews, on='id', how='inner',
                                suffixes=('_dir','_crew'))

# Create a boolean index to select the appropriate rows
boolean_filter = ((crews_self_merged['job_dir'] == 'Director') & 
                  (crews_self_merged['job_crew'] != 'Director'))
direct_crews = crews_self_merged[boolean_filter]

# Print the first few rows of direct_crews
print(direct_crews.head())

```

### **MERGING ON INDEX**
This involve using index to merge a table

#### **EXCERCSIE**

```py
#QUESTION 1
# Merge to the movies table the ratings table on the index
movies_ratings = movies.merge(ratings,on='id')

# Print the first few rows of movies_ratings
print(movies_ratings.head())
```

#### **QUESTION 2**
Do sequels earn more?
It is time to put together many of the aspects that you have learned in this chapter. In this exercise, you'll find out which movie sequels earned the most compared to the original movie. To answer this question, you will merge a modified version of the sequels and financials tables where their index is the movie ID. You will need to choose a merge type that will return all of the rows from the sequels table and not all the rows of financials table need to be included in the result. From there, you will join the resulting table to itself so that you can compare the revenue values of the original movie to the sequel. Next, you will calculate the difference between the two revenues and sort the resulting dataset.

The sequels and financials tables have been provided.

```py
#Part1
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')


#Part 2
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel', 
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

#Part 3
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel', 
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org', 'title_seq', 'diff']].copy()


#Part 4
# Merge sequels and financials on index id
sequels_fin = sequels.merge(financials, on='id', how='left')

# Self merge with suffixes as inner join with left on sequel and right on id
orig_seq = sequels_fin.merge(sequels_fin, how='inner', left_on='sequel', 
                             right_on='id', right_index=True,
                             suffixes=('_org','_seq'))

# Add calculation to subtract revenue_org from revenue_seq 
orig_seq['diff'] = orig_seq['revenue_seq'] - orig_seq['revenue_org']

# Select the title_org, title_seq, and diff 
titles_diff = orig_seq[['title_org','title_seq','diff']]

# Print the first rows of the sorted titles_diff
print(titles_diff.sort_values('diff', ascending=False).head())
```