### **INNER JOIN**

#### **What is Inner Join**

An INNER JOIN is a way to combine rows from two or more tables based on a related column between them.
It is important to note that _Table = DataFrame_ and also _merging = Joinning or Combining_

You have two table or the same Data from that are related by one column or two column, before an analysis is good to merge the data to have it in one table. and the best library to use is pandas. to merge a table. use the following code

```py
import pandas as pd
ward_census = merge.ward(census, on "ward")
```
This code first you import a pandas as pd which is use for this manipulation

The .merge is the method in pandas to merge, join or combined data together 

The _ward is the name of the data you want to merge, The census is the DataFrame or Table you want to merge with, 
while The _on "ward"_ is the column in both Data you want to merge together

In [10]:
# Import the pandas library as pd
import pandas as pd

# Read the Pickle file into a DataFrame

wards = pd.read_pickle('ward.p')
census = pd.read_pickle('census.p')
taxi_owners = pd.read_pickle('taxi_owners.p')
taxi_veh = pd.read_pickle('taxi_vehicles.p')
license = pd.read_pickle('licenses.p')
biz_owners = pd.read_pickle('business_owners.p')

In [ ]:
#Display the first 5 rows of Dataframe taxi_vehicles and taxi_owners
print(taxi_veh.head())
print(taxi_owners.head())

    vid    make   model  year fuel_type                owner
0  2767  TOYOTA   CAMRY  2013    HYBRID       SEYED M. BADRI
1  1411  TOYOTA    RAV4  2017    HYBRID          DESZY CORP.
2  6500  NISSAN  SENTRA  2019  GASOLINE       AGAPH CAB CORP
3  2746  TOYOTA   CAMRY  2013    HYBRID  MIDWEST CAB CO, INC
4  5922  TOYOTA   CAMRY  2013    HYBRID       SUMETTI CAB CO
     rid   vid           owner                 address    zip
0  T6285  6285  AGEAN TAXI LLC     4536 N. ELSTON AVE.  60630
1  T4862  4862    MANGIB CORP.  5717 N. WASHTENAW AVE.  60659
2  T1495  1495   FUNRIDE, INC.     3351 W. ADDISON ST.  60618
3  T4231  4231    ALQUSH CORP.   6611 N. CAMPBELL AVE.  60645
4  T5971  5971  EUNIFFORD INC.     3351 W. ADDISON ST.  60618

#### **EXCERCISE**

In [ ]:
#QUESTION 1
# Merge the taxi_owners and taxi_veh tables
taxi_own_veh = taxi_owners.merge(taxi_veh, on="vid")

# Print the column names of the taxi_own_veh
print(taxi_own_veh.columns)


#QUESTION 2
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes = ("_own", "_veh"))

# Print the column names of taxi_own_veh
print(taxi_own_veh.columns)

# QUESTION 3
# Merge the taxi_owners and taxi_veh tables setting a suffix
taxi_own_veh = taxi_owners.merge(taxi_veh, on='vid', suffixes=('_own','_veh'))

# Print the value_counts to find the most popular fuel_type
print(taxi_own_veh['fuel_type'].value_counts())


# QUESTION 4
# Merge the wards and census tables on the ward column
wards_census = wards.merge(census, on="ward")

# Print the shape of wards_census
print('wards_census table shape:', wards_census.shape)


#QUESTION 5
# Print the first few rows of the wards_altered table to view the change 
print(wards_altered[['ward']].head())

# Merge the wards_altered and census tables on the ward column
wards_altered_census = wards_altered.merge(census, on="ward")

# Print the shape of wards_altered_census
print('wards_altered_census table shape:', wards_altered_census.shape)


#QUESTION 6
# Print the first few rows of the census_altered table to view the change 
print(census_altered[['ward']].head())

# Merge the wards and census_altered tables on the ward column
wards_census_altered = wards.merge(census_altered, on="ward")

# Print the shape of wards_census_altered
print('wards_census_altered table shape:', wards_census_altered.shape)

Index(['rid', 'vid', 'owner_x', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_y'],
      dtype='object')
Index(['rid', 'vid', 'owner_own', 'address', 'zip', 'make', 'model', 'year',
       'fuel_type', 'owner_veh'],
      dtype='object')
fuel_type
HYBRID                    2792
GASOLINE                   611
FLEX FUEL                   89
COMPRESSED NATURAL GAS      27
Name: count, dtype: int64
wards_census table shape: (50, 9)

#### üìò **What is a One-to-Many Relationship?**
## üìò What is a One-to-Many Relationship?

In a **One-to-Many relationship**, **one record** in **Table A** can be related to **many records** in **Table B**.


### üß† Example:

Imagine a system with:

#### üßë‚Äçüè´ `Teachers` table:
| teacher_id | name      |
|------------|-----------|
| 1          | Mr. Musa  |
| 2          | Ms. Grace |

#### üìö `Classes` table:
| class_id | class_name | teacher_id |
|----------|------------|------------|
| 101      | Math       | 1          |
| 102      | Physics    | 1          |
| 103      | Biology    | 2          |

---

### üîó Relationship:
- **Mr. Musa (teacher_id 1)** teaches **Math** and **Physics**
- **Ms. Grace (teacher_id 2)** teaches **Biology**

So:  
> üßë‚Äçüè´ **One teacher** ‚Üí can teach **many classes**  
> üè´ **Each class** ‚Üí is taught by **one teacher**

This is a classic **One-to-Many** relationship.

---
for Examples

In [ ]:
ward_license = wards.merge(license, on="ward", suffixes=('war', 'lic'))

# Print the shape of ward_license
print('ward_license table shape:', ward_license.shape)

# Print the first few rows of the ward_license table to view the change
print(ward_license.head())

ward_license table shape: (10000, 9)
  ward            alderman                 addresswar zipwar account  aid  \
0    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   12024  NaN
1    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14446  743
2    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14624  775
3    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   14987  NaN
4    1  Proco "Joe" Moreno  2058 NORTH WESTERN AVENUE  60647   15642  814

               business               addresslic ziplic
0   DIGILOG ELECTRONICS       1038 N ASHLAND AVE  60622
1      EMPTY BOTTLE INC   1035 N WESTERN AVE 1ST  60622
2  LITTLE MEL'S HOT DOG    2205 N CALIFORNIA AVE  60647
3    MR. BROWN'S LOUNGE   2301 W CHICAGO AVE 1ST  60622
4          Beat Kitchen  2000-2100 W DIVISION ST  60622

EXERCISE

In [11]:
# QUESTION 1
# Merge the licenses and biz_owners table on account
licenses_owners = license.merge(biz_owners, on= "account")

# Group the results by title then count the number of accounts
counted_df = licenses_owners.groupby("title").agg({'account':'count'})

# Sort the counted_df in descending order
sorted_df = counted_df.sort_values("account", ascending=False)

# Use .head() method to print the first few rows of sorted_df
print(sorted_df.head())

                 account
title
PRESIDENT           6259
SECRETARY           5205
SOLE PROPRIETOR     1658
OTHER               1200
VICE PRESIDENT       970

---
### **Merging Multiple DataFrame**

EXCERSICE

In [ ]:
#QUESTION 1
# Merge the ridership and cal tables
ridership_cal = ridership.merge(cal, on=["year", "month", "day"])


# Question 2
# Merge licenses and zip_demo, on zip; and merge the wards on ward
licenses_zip_ward = licenses.merge(zip_demo, on= "zip") \
            			.merge(wards, on="ward")

# Print the results by alderman and show median income
print(licenses_zip_ward.groupby('alderman').agg({'income':'median'}))

# Question 3
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                .merge(licenses, on='ward' , suffixes= ['_cen', '_lic'])


#QUESTION 4
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward', 'pop_2010', 'vacant'], 
                                   as_index=False).agg({'account':'count'})


#QUESTION 5
# Merge land_use and census and merge result with licenses including suffixes
land_cen_lic = land_use.merge(census, on='ward') \
                    .merge(licenses, on='ward', suffixes=('_cen','_lic'))

# Group by ward, pop_2010, and vacant, then count the # of accounts
pop_vac_lic = land_cen_lic.groupby(['ward','pop_2010','vacant'], 
                                   as_index=False).agg({'account':'count'})

# Sort pop_vac_lic and print the results
sorted_pop_vac_lic = pop_vac_lic.sort_values(by=['vacant', 'account','pop_2010' ], 
                                             ascending=[False, True, False])

# Print the top few rows of sorted_pop_vac_lic
print(sorted_pop_vac_lic.head())